In [1]:
import pandas as pd

In [2]:
# importar cvs
eCRC = pd.read_csv('output/emisor_CRC.csv')
eHam = pd.read_csv('output/emisor_Ham.csv')
rCRC = pd.read_csv('output/receptor_CRC.csv')
rHam = pd.read_csv('output/receptor_Ham.csv')

In [3]:
eCRC

,id,trama_og,codified,modified,w_noise
0,0,'100100000010','1001000000101100001001111100110111110000100','1001000000101100001001111100110111110000100','0'
1,1,'111110010010','1111100100100000100111101101011100100011010','1111100100100000100111101101011100100011010','0'
2,2,'1011100110','10111001100001101010001101000001001100100','10111001100001101010001101000001001100100','0'
3,3,'1111000101','11110001011011000000011110110110100101100','11110001011011000000011110110110100101100','0'
4,4,'101111111000110001','101111111000110001011001110111001001011101001...,'101111111000110001011001110111001001011101001...,'0'
...,...,...,...,...,...
95,95,'101111111110','1011111111100111101110101101011001010101100','1011111111100111101110101101011001010101100','0'
96,96,'001001011011100','0010010110111001011001110110000111011011100100','00100101101110010011001110110000111011011100100','1'
97,97,'1001110010111','10011100101111111100111100110100100110110010','10011100101111111100111100110100100110110010','0'
98,98,'0101000001101001','01010000011010011010100001111110100100011101100','01010000011010011010100001111110100100011101100','0'
99,99,'0011100011101110110','001110001110111011000101010110000111000101010...,'001110001110111011000101010110000111000101010...,'0'

In [4]:
eHam

,id,trama_og,codified,modified,w_noise
0,0,'100100000010','10001001000010011;10011;100100000010','10001001000010011;10011;100100000010','0'
1,1,'111110010010','10011001100111111;10111;111110010010','10011001100111111;10111;111110010010','0'
2,2,'1011100110','00001100011101;0000;1011100110','00001100011101;0000;1011100110','0'
3,3,'1111000101','10100100001111;1000;1111000101','10100100001111;1000;1111000101','0'
4,4,'101111111000110001','11110000110001101111101;11100;101111111000110...,'11110000110001101111101;11100;101111111000110...,'0'
...,...,...,...,...,...
95,95,'101111111110','01001110111111011;01001;101111111110','01001110111111011;01001;101111111110','0'
96,96,'001001011011100','11000110101101010100;11001;001001011011100','11000110101101010100;11001;001001011011100','0'
97,97,'1001110010111','001111001001110101;00101;1001110010111','001111001001110101;00101;1001110010111','0'
98,98,'0101000001101001','111000100110000001010;11000;0101000001101001','111000100110000001010;11000;0101000001101001','0'
99,99,'0011100011101110110','000011001110111100011100;00001;00111000111011...,'000011001110111100011100;00001;00111000111011...,'0'

In [5]:
rCRC

,id,alg_received,err,res
0,0,'1001000000101100001001111100110111110000100','0','00000000000000000000000000000000'
1,1,'1111100100100000100111101101011100100011010','0','00000000000000000000000000000000'
2,2,'10111001100001101010001101000001001100100','0','00000000000000000000000000000000'
3,3,'11110001011011000000011110110110100101100','0','00000000000000000000000000000000'
4,4,'101111111000110001011001110111001001011101001...,'0','00000000000000000000000000000000'
...,...,...,...,...
95,95,'1011111111100111101110101101011001010101100','0','00000000000000000000000000000000'
96,96,'00100101101110010011001110110000111011011100100','1','00101010011010001001101100101100'
97,97,'10011100101111111100111100110100100110110010','0','00000000000000000000000000000000'
98,98,'01010000011010011010100001111110100100011101100','0','00000000000000000000000000000000'
99,99,'001110001110111011000101010110000111000101010...,'0','00000000000000000000000000000000'

In [6]:
rHam

,id,alg_received,bits,reqs,orig,corr,res
0,0,'10001001000010011;10011;100100000010','10001001000010011','10011','100100000010','10011','Hubo un error en el bit 6'
1,1,'10011001100111111;10111;111110010010','10011001100111111','10111','111110010010','00111','Hubo un error en el bit 5'
2,2,'00001100011101;0000;1011100110','00001100011101','0000','1011100110','',"'Todo correcto, el mensaje no cuenta con errores'"
3,3,'10100100001111;1000;1111000101','10100100001111','1000','1111000101','',"'Todo correcto, el mensaje no cuenta con errores'"
4,4,'11110000110001101111101;11100;101111111000110...,'11110000110001101111101','11100','101111111000110001','11110','Hubo un error en el bit 2'
...,...,...,...,...,...,...,...
95,95,'01001110111111011;01001;101111111110','01001110111111011','01001','101111111110','11001','Hubo un error en el bit 5'
96,96,'11000110101101010100;11001;001001011011100','11000110101101010100','11001','001001011011100','',"'Todo correcto, el mensaje no cuenta con errores'"
97,97,'001111001001110101;00101;1001110010111','001111001001110101','00101','1001110010111','00111','Hubo un error en el bit 2'
98,98,'111000100110000001010;11000;0101000001101001','111000100110000001010','11000','0101000001101001','11001','Hubo un error en el bit 1'
99,99,'000011001110111100011100;00001;00111000111011...,'000011001110111100011100','00001','0011100011101110110','00000','Hubo un error en el bit 1'